@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    overflow-x: hidden;
}

h1,
h2 {
    font-family: "DM Serif Display", serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar-list {
    display: none;
}

.hero {
    background: hsl(256, 26%, 20%);
    color: #fafafa;
}

.hero-image img {
    width: 100%;
}

.hero-info {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    position: relative;
}

.hero-info::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
}

.hero-info::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -50%;
    right: 0;
    /* bottom: -80%; */
    background-image: url("./images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.hero-info h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
}

.hero-info p {
    margin: 20px 0 40px 0;
    line-height: 1.5;
}

.btn {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #fafafa;
    color: #fafafa;
    text-transform: uppercase;
}

.insure-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 40px;
}

.icon {
    width: 70px;
    margin: auto;
}

.icon img {
    width: 100%;
}

.horizontal-line {
    height: 80px;
    width: 45%;
    border-bottom: 1px solid hsl(273, 4%, 51%);
}

.insure-description h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 0 40px 0;
}

.insure-description h2 {
    font-weight: 500;
    margin: 20px 0 10px 0;
}

.insure-description p {
    font-size: 14px;
    line-height: 1.4;
    color: hsl(216, 30%, 68%);
    margin: 10px 0 40px 0;
}

.banner {
    padding: 60px 0;
    background: hsl(256, 26%, 20%);
    color: #fafafa;
    width: 100%;
    text-align: center;
    position: relative;
}

.banner h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 30px;
}

.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: top left;
    background-image: url("./images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}

.social-media {
    display: flex;
    margin-top: 20px;
}

.social-media ul {
    list-style-type: none;
}

.social-media ul li {
    display: inline-block;
    margin: 0 5px;
}

footer {
    padding: 50px 0;
    background-color: #fafafa;
}

.footer-links {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-links h3 {
    color: hsl(273, 4%, 51%);
    padding-bottom: 5px;
    margin-top: 30px;
}

.footer-links ul {
    list-style-type: none;
    text-decoration: none;
    font-weight: 700;
}

.footer-links ul li {
    margin: 10px;
}

@media screen and (min-width: 1440px) {
    .hamburger-icon {
        display: none;
    }

    .nav-bar-list {
        display: flex;

    }

    .nav-bar-list ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .nav-bar-list ul li {
        margin: 0 10px;
        text-transform: uppercase;
    }

    a:hover {
        color: hsl(270, 9%, 17%);
    }

    a {
        text-decoration: none;
        color: hsl(273, 4%, 51%);
        font-weight: 700;
    }

    .button {
        background-color: hsl(270, 9%, 17%);
        color: hsl(0, 0%, 98%);
        padding: 10px 30px;
    }

    .button:hover {
        background-color: hsl(270, 9%, 17%);
        color: hsl(0, 0%, 98%);
    }

    .hero {
        display: flex;
        background: hsl(256, 26%, 20%);
    }

    .hero>div {
        flex: 1;
    }

    .hero-info {
        order: 1;
    }

    .hero-image {
        order: 2;
    }

    .container {
        padding: 0 20px;
    }
}